<!DOCTYPE html>
<html>
  <head>
    <title>Jwitterverse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
          <a class="navbar-brand" href="#">Jwitterverse</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <a class="nav-link disabled"<%= link_to "Home", home_path %></a>
                  <% if current_user %>
                    Logged in as <%= current_user.email %>
					<a class="nav-link disabled"<%= link_to "Create Post", new_post_path %></a>
                    <a class="nav-link disabled"<%= link_to "Loout", session_path("current"), method: "delete" %></a>
                  <% else %>

                    <a class="nav-link disabled"<%= link_to "Register", new_user_path %></a>
                    <a class="nav-link disabled"<%= link_to "Login", new_session_path %></a>
                  <% end %>
          </div>
    </nav>
<br>
<br>
<br>
<br>
<div class="container">
    <%= yield %>
  </body>
</html>
